@font-face{
    font-family: 'tajwal';
    src: url(../Fonts/Tajawal-Regular.ttf);
 }
 @font-face{
    font-family: 'cairo-bold';
    src: url(../Fonts/Cairo-Bold.ttf);
   
 }
 @font-face{
    font-family: 'cairo-regular';
    src: url(../Fonts/Cairo-Regular.ttf);
 }
 @font-face{
    font-family: 'cairo-simiBold';
    src: url(../Fonts/Cairo-SemiBold.ttf)
 }
    .content1{
        color: #557571;
        text-align: center;
        
    }
    
    .c1{
float: left;
font-size: 20px;
font-family: tajwal;
width: 50%;
padding: 50px;
    }
    .content1::after {
  content: "";
  clear: both;
  display: block;
    }
  
    #ctext{ margin-top: 1.5cm;
        padding-bottom: 3cm;
    border-block-color:#557571;
border-bottom-style: groove;
}
    .c1 img{
height: 8cm;
width: 12cm;
    }
    .content2{
        color: #557571;
        text-align: center;
        padding-bottom: 2cm;
        border-block-color:#557571;
border-bottom-style: groove;
        
    }
    .c2{
        float: right;
        font-size: 20px;
        font-family:cairo-simiBold;
        width: 50%;
        padding: 50px; 
        margin-top:0px 
    }

    .content2::after {
        content: "";
        clear: both;
        display: block;
          }
          #c22{ text-align: right;}
          #c21{margin-top: 3.4cm;}

          .content3{
            color: #557571;
            text-align: center;
            margin-top: 1.5cm;
        }
        
        .c3{
    float: left;
    font-size: 26px;
    font-family: tajwal;
    width: 50%;
    padding: 50px;
        }
        .content3::after {
      content: "";
      clear: both;
      display: block;
        }
      
        #c32{ 
            margin-top: 1cm;
        padding-bottom: 3.6cm;
        border-block-color:#557571;
        border-bottom-style: groove;}
        .c3 img{
    height: 8cm;
    width: 12cm;
        }
        .content4{
            color: #557571;
            text-align: center;
            margin-top: 1cm;
        }
        
        .c4{
    float: left;
    font-size: 20px;
    font-family: cairo;
    width: 50%;
    padding: 50px;
        }
        .content4::after {
      content: "";
      clear: both;
      display: block;
        }
      
        #c41{ 
            margin-top: 2.3cm;
        padding-bottom: 3.2cm;
        font-weight: bolder;
        border-block-color:#557571;
        border-bottom-style: groove;}
        .c4 img{
    height: 8cm;
    width: 12cm;
        }
        .content5{
            font-size:18px ;
            font-family: tajwal ;
            color: #557571;
            text-align: center;
            margin-top: 1.2cm;
            margin-bottom: 1.8cm;
            padding-bottom: 2cm;
        border-block-color:#557571;
border-bottom-style: groove;
        }
        #c5{
            font-size: 24px;
            padding: 1cm;

        }
        .content5 img{
            width: 70%;
            height: 8cm;
        }
        .content6{
            font-size:20px ;
            font-family: tajwal ;
            color: #557571;
            text-align: center;
            margin-top: 1.2cm;
            margin-bottom: 1cm;


        }
        .content7{
            font-size: 20px;
font-family: cairo;
color: #557571;
 text-align: center;
 padding-bottom: 1cm;
 border-block-color:#557571;
border-bottom-style: groove;
        }
        .c7{
            float: left;
font-weight: bold;
width: 50%;
padding: 50px;
margin-top: 1cm;

    }
    .content7::after {
  content: "";
  clear: both;
  display: block;
    }
    .c7 img{ width: 100%;}

    .content8{
        font-size:20px ;
            font-family: tajwal ;
            color: #557571;
            text-align: center;
            margin-bottom: 4.5cm;
            
    }
    .content8 img{
        width: 90%;
        height: 7cm;
    }
    #c8{
        margin-top: 3cm;
        margin-bottom: 2cm;
        padding-left:2cm;
            padding-right: 2cm;
    }
    .endcontent{
        font-size:23px ;
        font-family: tajwal ;
        color: #557571;
        text-align: center;
        margin-top: 5cm;
        margin-bottom: 2cm;
         
    }
    .endcontent img{ 
        width: 80%;
    height: 10cm;
    border-radius: 24px;
}
    
    #endtext{
        padding-left: 2.2cm;
        padding-right: 2.2cm;
        margin-bottom: 3cm;
    }
    .imageshow {
        width: 18cm;
        height: 9cm;
        position: relative;
        margin: auto;
        

      }
      .imageshow img{
          width: 100%;
          height: 8cm;
          border-radius: 24px;
      }
      
      .myimg {
        display: none;
      }
      
    
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        user-select: none;
        background-color: rgba(255, 255, 255, 0.432);
      }
      
      .prev {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      .next {
        left: 0;
        border-radius: 0 3px 3px 0;
      }
      
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }
      .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin-left:2px;
        margin-top: 0;
        margin-bottom: 3cm;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      .active, .dot:hover {
        background-color: #717171;
      }
      
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }

        