@font-face{
   font-family: 'tajwal';
   src: url(../Fonts/Tajawal-Regular.ttf);
}
@font-face{
   font-family: 'cairo-bold';
   src: url(../Fonts/Cairo-Bold.ttf);
  
}
@font-face{
   font-family: 'cairo-regular';
   src: url(../Fonts/Cairo-Regular.ttf);
}
@font-face{
   font-family: 'cairo-simiBold';
   src: url(../Fonts/Cairo-SemiBold.ttf)
}
*{
   box-sizing:border-box;
   margin: 0;
   padding: 0;
}

html{
    --baseColor:#557571;
    --secondColor:#d49a89;
    --thirdColor:#f7d1ba;
    --lightColor: #f4f4f4;
    --boldColor: #425452;

}
body{
    margin: 0;
    
}

.ibox{
   position: relative;
   width: 100%;
   margin: auto;
 
}
.mySlides {display: none;
}

.ibox img{vertical-align: middle;
}
/* start https://www.w3schools.com/howto/howto_js_slideshow.asp */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
  
}

@-webkit-keyframes fade {
  from {opacity: .8} 
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 2}
}
/*End https://www.w3schools.com/howto/howto_js_slideshow.asp */
.p2{
   position: absolute;
   top: 65%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-color: rgb(0,0,0,0);
   border-radius: 30%;
    background-color: rgba(51, 70, 58, 0.699);
    padding: 0.3cm;
   margin-top: 0.5cm;
   

}
.p2 a{
   color: white;
   text-decoration: none;
   font-size: 27px;
  font-family: 'Cairo';
}
.ibox .p2:hover{
   background-color:#557571;
   transition: 0.5s;
}
.p1 {
   background-color: rgba(38, 54, 43, 0.151);                                       
   font-size: 28px;
   padding : 0.8cm;
   width:18cm;
   color: white;
   text-align: center;
   text-shadow:2px 2px 4px rgba(0, 0, 0, 0.5);
border-radius: 10%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-family: 'cairo-bold'
}


.mbar {
text-align: center;
   background-color:rgb(0,0,0,0);
   position: fixed;
   top: 0%;
   overflow: hidden;
   height: 1.2cm;
   width: 100%;
   padding-top: 0.3cm;
   font-family: 'tajwal'
   
 }


.mbar a{
   position: relative;
   color: rgba(236, 236, 236, 0.959);
   text-align: center;

   padding-left: 0.5cm ;
   
   padding-right: 0.5cm;
   text-decoration: none;
   font-weight: bold;
   
text-shadow:2px 2px  rgb(0,0,0,0.5);

   font-size: 19px;
}
.mbar a:hover {
 text-decoration-line: underline;
 transition: 3s;
 }
 .mbar img{
     height: 1cm;
     width: 2cm;
     vertical-align: middle;
 }
 

.footer{
   top: 100%;
   left: 0%;
   position: absolute;
   top: 100%;
   color: white;
   text-align: center;
   font-size: 12px;
   width: 100%;
   height: 2.4cm;
   background-color: #425452;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-above{
   background-color: var(--baseColor);
     height: 9cm;
     text-align: center;

 }
 .outer-box
 {
     display: inline-block;
     background-color:var(--thirdColor);
     border-radius: 30px;
     margin-top: 2cm;
     padding-top: 0.2cm;
     text-align: center;
     width: 10cm;
     height: 5.5cm ;
     margin-bottom: 0.2cm;
     color: var(--baseColor);

 }


 .mail-title
 {
     margin-top: 1cm;
     font-family: 'cairo-bold';
     font-size: 20px;
     

 }

.mail-sub-title{
 font-family: 'cairo-simiBold';
 font-size: 15px;
 margin-top: 0.1cm;
 }


 .email-box{
     width: 9cm;
     height: 0.7cm;
     margin-top: 0.2cm;
     border: none;
     border-radius: 30px;
     text-align: center;
     font-family: 'tajwal';
 }
.submit-box
{
 height: 1cm;
 width: 2cm;
 border-radius: 30px;
 border: none;
 margin-top: 0.2cm;
 font-family: 'tajwal';
 background-color: var(--baseColor);
 color: var(--lightColor);
 transition: 0.3s;

}
.submit-box:hover{
 background-color: var(--lightColor);
 color: var(--baseColor);
 transition: 0.3s;
}




.footer-below{
 background-color: var(--boldColor);
 height: 2.4cm;
 text-align: center;
 color: var(--lightColor);
 font-family: 'tajwal';
 font-size: 12px;
 padding-top: 0.3cm;
}


.footer-below img
{
 height: 1.2cm;
 width: 4cm;
}