@font-face{
    font-family: 'tajwal';
    src: url(../Fonts/Tajawal-Regular.ttf);
 }
 @font-face{
    font-family: 'cairo-bold';
    src: url(../Fonts/Cairo-Bold.ttf);
   
 }
 @font-face{
    font-family: 'cairo-regular';
    src: url(../Fonts/Cairo-Regular.ttf);
 }
 @font-face{
    font-family: 'cairo-simiBold';
    src: url(../Fonts/Cairo-SemiBold.ttf)
 }

 *{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
 }

 html{
     --baseColor:#557571;
     --secondColor:#d49a89;
     --thirdColor:#f7d1ba;
     --lightColor: #f4f4f4;
     --boldColor: #425452;

 }

 .container{
     padding: 0 100px ;
 }


 body{
     background-color: var(--thirdColor);
     background-image: url(../Photos/back.jpg);
     background-repeat: repeat;
    }


 .navBar{
     background-color: var(--boldColor); 
     height: 80px; 

 }

 .navList{
     text-align: center;
    list-style-type: none;
    padding: 15px 250px 0;
}

.navItem{
    font-family: 'tajwal';
    float: right;
     font-size: 20px;
     font-weight: bold;
    height: 50px;
    width:7rem;
    line-height: 40px;
    text-align: center;
    transition: 0.3s;
}


.navItem:hover{
    border-bottom: solid var(--lightColor);
    border-width: 1px;
    transition: 0.3s;
}

#logo:hover{
    border-bottom:none;
}

.navLink{
    text-decoration: none;
    display: block;
    color:var(--lightColor)
}

.mainSection{
     background-color: var(--lightColor);
}

.path{
    padding: 20px 60px 0 0;
    font-family: 'tajwal';
    color: #B3BCBB;
}

.home{
    text-decoration: none;
    color: #B3BCBB;
    transition: 0.3s;

}

.home:hover
{
color: var(--baseColor);
transition: 0.3s;
}

.title{
    font-family: 'cairo-bold';
    font-size: 30px;
    text-align: center;
    padding: 150px 200px 90px;
    color: var(--baseColor);
 }




  .footer-above{
      background-color: var(--baseColor);
        height: 9cm;
        text-align: center;

    }
    .outer-box
    {
        display: inline-block;
        background-color:var(--thirdColor);
        border-radius: 30px;
        margin-top: 2cm;
        padding-top: 0.2cm;
        text-align: center;
        width: 10cm;
        height: 5.5cm ;
        margin-bottom: 0.2cm;
        color: var(--baseColor);

    }


    .mail-title
    {
        margin-top: 1cm;
        font-family: 'cairo-bold';
        font-size: 20px;
        

    }

   .mail-sub-title{
    font-family: 'cairo-simiBold';
    font-size: 15px;
    margin-top: 0.1cm;
    }
  

    .email-box{
        width: 9cm;
        height: 0.7cm;
        margin-top: 0.2cm;
        border: none;
        border-radius: 30px;
        text-align: center;
        font-family: 'tajwal';
    }
.submit-box
{
    height: 1cm;
    width: 2cm;
    border-radius: 30px;
    border: none;
    margin-top: 0.2cm;
    font-family: 'tajwal';
    background-color: var(--baseColor);
    color: var(--lightColor);
    transition: 0.3s;

}
.submit-box:hover{
    background-color: var(--lightColor);
    color: var(--baseColor);
    transition: 0.3s;
}




.footer-below{
    background-color: var(--boldColor);
    height: 2.4cm;
    text-align: center;
    color: var(--lightColor);
    font-family: 'tajwal';
    font-size: 12px;
    padding-top: 0.3cm;
}


.footer-below img
{
    height: 1.2cm;
    width: 4cm;
}