@font-face{
   font-family: 'tajwal';
   src: url(Fonts/Tajawal-Regular.ttf);
}
@font-face{
   font-family: 'cairo-bold';
   src: url(Fonts/Cairo-Bold.ttf);
  
}
@font-face{
   font-family: 'cairo-regular';
   src: url(Fonts/Cairo-Regular.ttf);
}
@font-face{
   font-family: 'cairo-simiBold';
   src: url(Fonts/Cairo-SemiBold.ttf)
}

body{
    margin: 0;
    
}

.ibox{
   position: relative;
   width: 100%;
   margin: auto;
 
}
.mySlides {display: none;
}

.ibox img{vertical-align: middle;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
  
}

@-webkit-keyframes fade {
  from {opacity: .8} 
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 2}
}
.p2{
   position: absolute;
   top: 70%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-color: rgb(0,0,0,0);
   border-radius: 30%;
    background-color: rgba(51, 70, 58, 0.699);
    padding: 0.3cm;
   margin-top: 0.5cm;
   

}
.p2 a{
   color: white;
   text-decoration: none;
   font-size: 27;
  font-family: 'Cairo';
}
.ibox .p2:hover{
   background-color:#557571;
   transition: 0.5s;
}
.p1 {
   background-color: rgba(38, 54, 43, 0.493);                                       ;
   font-size: 40;
   padding : 1.2cm;
   color: white;
   text-align: center;
  
border-radius: 10%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-family: 'cairo-bold'
}


.mbar {
text-align: center;
   background-color:rgb(0,0,0,0);
   position: fixed;
   top: 0%;
   overflow: hidden;
   height: 1.2cm;
   width: 100%;
   padding-top: 0.3cm;
   font-family: 'tajwal'
   
 }


.mbar a{
   position: relative;
   color: rgba(236, 236, 236, 0.959);
   text-align: center;

   padding-left: 0.5cm ;
   
   padding-right: 0.5cm;
   text-decoration: none;
   font-weight: bold;
   
text-shadow:2px 2px  rgb(0,0,0,0.5);

   font-size: 19px;
}
.mbar a:hover {
 text-decoration-line: underline;
 transition: 3s;
 }
 .mbar img{
     height: 0.5cm;
     width: 1.3cm;
     vertical-align: middle;
 }
 .boxmain{
     display: inline-block;
     position: absolute;
     padding-top: 1cm;
     margin-top: 0%;
     width: 100%;
     height: 8cm;
     background-color: #557571;
     color: #557571;
 }
  .boxsend{
      font-size: 24;
      text-align: center;
     position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
     background-color:#F7D1BA;
     border-radius: 30%;
     padding-top: 0.2cm;
     width: 12cm;
     height: 7cm ;
     font-family: 'Cairo-regular';
 }

#sub{
   font-weight: bold;
   font-family: 'Cairo-regular';
}
input[type=submit]{
   font-size:18 ;
   color: honeydew;
   background-color: #425452;
   text-align: center;
   height: 1cm;
   width: 2cm;
   border-radius: 30%;
   border-style: none;
   margin-top: 0.3cm;
   padding-top: 0.1cm;
   transition: 0.5s;
   font-family: 'tajwal';
}
input[type=submit]:hover{
   background-color: white;
   color: #425452;
   transition: 0.5s;
}
input[type=email]{
   width: 9cm;
   height: 0.7cm;
   text-align: center;
   font-family: 'tajwal';
}
.footer img{
   vertical-align: middle;
   height: 1.2cm;
   width: 4cm;
}
.footer{
   top: 90%;
   left: 0%;
     position: absolute;
     top: 100%;
     color: white;
     text-align: center;
     font-size: 12;
   width: 100%;
   height: 2.4cm;
   background-color: #425452;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

